extends layout

block body

  // Github ribbon
  a(href='https://github.com/Assembly-WebCrew/InfoHub')
    img(style='position: absolute; top: 0; right: 0; border: 0;',
      src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png',
      alt='Fork me on GitHub')

  // Login form 
  div.login-container(ng-controller='LoginController')
    form.form-login(ng-submit='login()')
      div.control-group(ng-class='status')
        h2 Please, log in to continue
        input.input-block-level(ng-model='user', type='text', placeholder='Username')
        input.input-block-level(ng-model='pass', type='password', placeholder='Password')
        button.btn.btn-large.btn-primary(type='submit') Sign in
        span.info Login failed, please try again.

  // Content controls 
  div.main-container.row(ng-controller='HubController')
    h1 Info Hub
    form.broadcast-form(ng-submit='broadcast()')
      div.input-append.message-box.control-group(ng-class='status')
        input.input-block-level(ng-model='message', type='text',
          placeholder='Broadcast here...')
        button.btn.btn-primary(type='submit', ng-disabled='status') Send
      output-toggles

    //- p(ng-bind='filter | json')

  script(src='js/jquery.js')
  script(src='js/bootstrap.js')

  script(src='js/lib/angular/angular.js')
  script(src='js/http-auth.js')

  script(src='js/main.js')
  script(src='js/login.js')
  script(src='js/hub-controller.js')