!!!
html
  head
    meta(charset='utf8')
    base(href='/hub/')
    title Assembly InfoHub
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body.info-hub-application.waiting-for-angular(ng-app='info-hub')
    block body