body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

body.waiting-for-angular {
  display: none;
}

.form-login {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-login .info {
  padding-top: 14px;
  height: 40px;
  margin-left: 20px;
  display: none;
  color: #b94a48;
  font-weight: bold;
}

.form-login .control-group.error .info {
  display: inline;
}

.main-container {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.broadcast-form {
  margin-top: 30px;
}

.message-box button {
  width: 60px;
}

.message-box {
  display: block;
  margin-right: 60px;
}

.output-modules {
  margin: 0;
}
